<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList;let i = index">
            <input type="checkbox" 
                    (change)="validationInputChanged(item.taskName, i)"
                    [(ngModel)]="item.checked" name="item.checked" id="">
            <input type="text" (change)="validationInputChanged(item.taskName, i)"
                [(ngModel)]="item.taskName" 
                name="item.taskName" id=""
                [ngClass]="{'checked': item.checked === true}">

            <button (click)="deleteItemFromTaskList(i)">
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>
        </li>

    </ul>
</section>

<app-task-input-add-itens (emmitItemTaskList)="addTaskList($event)"></app-task-input-add-itens>
<app-task-button-delete-all *ngIf="taskList.length" (emmitDeleteAllTaskList)="deleteAllItensFromTaskList()"></app-task-button-delete-all>