.fullWidth {
    width: 100%;
}

h1 {
    text-align: center;
}

img {
    height: 8rem;
    margin: auto;
}

.section {
    margin-bottom: 1rem;
    margin-left: 5rem ;
    margin-right: 5rem ;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    text-align: end;
    opacity: .5;
    margin-top: 3rem;
}

mat-icon {
    opacity: .6;
}